# Diretórios e arquivos gerados pelo node
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Pastas nativas
/android
/ios

# Arquivos de sistema do macOS
.DS_Store

# Arquivo gerado pelo expo-cli
expo-env.d.ts
